/* style.css 스타일 */

/* ======================
Global Style Import
====================== */

/* 디자인 시스템 변수 */
@import url('./variables.css');

/* 기본 리셋 스타일 */
@import url('./reset.css');

/* 레이아웃 */
@import url('./layout/header.css');
@import url('./layout/footer.css');
@import url('./layout/map-layout.css');

/* 페이지별 스타일 */
@import url('./pages/onboarding.css');
@import url('./pages/login.css');
@import url('./pages/signup.css');
@import url('./pages/recommend-speed.css');
@import url('./pages/map.css');
@import url('./pages/live-speed.css');
@import url('./pages/arrived.css');
@import url('./pages/mypage.css');
@import url('./pages/report.css');
@import url('./pages/terms.css');


/* override Bootstrap primary button 색상 */
.btn {
  box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
}

.btn-primary {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  color: #fff;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--color-primary-hover) !important;
  border-color: var(--color-primary-hover) !important;
}

.btn-outline-primary {
  border-color: var(--color-primary) !important;
  color: var(--color-primary) !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
  background-color: var(--color-primary) !important;
  color: #fff !important;
}
