/* ============================Onboarding Page Style
   ============================ */
.onboarding-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    background-color: #f2f2f2;
    border-radius: 50%;
    box-shadow: var(--shadow-sm);
  }
  
  .onboarding-title {
    font-size: 40px;
    font-weight: bolder;
    color: var(--color-primary);
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
    font-weight: 900;
  }
  