body {
  background-color: #f8f9fa;
  font-family: 'Pretendard', sans-serif;
  padding: 2rem;
}

.terms-container {
  padding: 50px;
}


.terms-box {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 0.75rem;
  padding: 1.5rem;
  margin-bottom: 2rem;
  height: 300px;
  overflow-y: scroll;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.terms-box h3 {
  margin-bottom: 1rem;
  font-weight: bold;
}

.terms-box::-webkit-scrollbar {
  width: 6px;
}

.terms-box::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.terms-box li {
  list-style-type: disc;
}